.header {
  background-color: #6F926E;
  height: 50px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.webName {
  font-size:20px;
  text-decoration: none;
  color: #DBE2E9;
  margin: auto
}
